@charset "EUC-KR";
.frame {
	width: 960px;
	height: 490px;
	position: fixed;
	opacity: 0.8;
	border-radius: 10px;
	top: 240px;
	left: 275px;
	background-color: #b8b8b8;
}

.whitebox {
	background-color: white;
	height: 280px;
	position: fixed;
	border-radius: 10px;
	opacity: 0.8;
	margin-right: 10px;
	margin-top: 10px;
	vertical-align: middle;
	display: inline-block;
}


html { 
   background: url(img/bgimg.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#topMenu {
     height: 40px;
     width: 1010px; 
     background-color: #FFFFFF;
     opacity: 0.7;   
}

#topMenu ul { /* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */ 
  list-style-type: none; /* 메인 메뉴 안의 ul 내부의 목록 표시를 없애줌 */
  margin-left: 10px;
  margin-right: 0px; /* 메인 메뉴 안의 ul의 margin을 없앰 */ 
  padding: 0px; /* 메인 메뉴 안의 ul의 padding을 없앰 */ 

} 
#topMenu ul li { /* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */ 
  color: blue; /* 글씨 색을 흰색으로 설정 */ 
  background-color: #787878; /* 배경 색을 RGB(2D2D2D)로 설정 */
  float: left; /* 왼쪽으로 나열되도록 설정 */ 
  line-height: 40px; /* 텍스트 한 줄의 높이를 30px로 설정 */ 
  vertical-align: middle; /* 세로 정렬을 가운데로 설정 */ 
  text-align: center; /* 텍스트를 가운데로 정렬 */ 
  position: relative; /* 해당 li 태그 내부의 top/left 포지션 초기화 */ 

} 
.menuLink, .submenuLink { /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */ 
  text-decoration:none; /* a 태그의 꾸밈 효과 제거 */ 
  display: block; /* a 태그의 클릭 범위를 넓힘 */ 
  width: 190px; /* 기본 넓이를 150px로 설정 */ 
  font-size: 13px; /* 폰트 사이즈를 12px로 설정 */ 
  font-weight: bold; /* 폰트를 굵게 설정 */ 
  font-family: "Trebuchet MS", Dotum; /* 기본 폰트를 영어/한글 순서대로 설정 */ 
} 
.menuLink { /* 상위 메뉴의 글씨색을 흰색으로 설정 */ 
  color: black; 
} 
.topMenuLi:hover .menuLink { /* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */ 
  color: white; /* 글씨 색 blue */ 
  background-color: #F2F2F2; /* 배경색을 밝은 회색으로 설정 */ 
} 
.submenuLink { /* 하위 메뉴의 a 태그 스타일 설정 */ 
  color: #2d2d2d; /* 글씨 색을 RGB(2D2D2D)로 설정 */ 
  background-color: white; /* 배경색을 흰색으로 설정 */
  
} 
.submenu { /* 하위 메뉴 스타일 설정 */ 
  position: absolute; /* html의 flow에 영향을 미치지 않게 absolute 설정 */ 
  height: 0px; /* 초기 높이는 0px로 설정 */ 
  overflow: hidden; /* 실 내용이 높이보다 커지면 해당 내용 감춤 */ 
  transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(기본) */ 
  -webkit-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 크롬/사파라ㅣ) */ 
  -moz-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 파폭) */ 
  -o-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 오페라) */ 

} 
.topMenuLi:hover .submenu { /* 상위 메뉴에 마우스 오버한 경우 그 안의 하위 메뉴 스타일 설정 */ 
  height: 120px; /* 높이를 93px로 설정 */ 

} 
.submenuLink:hover { /* 하위 메뉴의 a 태그의 마우스 오버 스타일 설정 */ 
  color: blue; /* 글씨색을 파란 설정 */ 
  background-color: #b4b4b4; /* 배경을 RGB(DDDDDD)로 설정 */ 
}
#board{
  width: 1010px;
  height: 2000px;
  margin-top: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  left: 215px;
  top: 250px;
}
#boardtitle{
  width: 990px;
  background-color: #000000;
  border-radius: 10px;
  opacity: 0.8;
  margin-top: 10px
}
#copyright{
  float: right;
  color: blue;
}



#mask {
   position: absolute;
   left: 0;
   top: 0;
   z-index: 999;
   background-color: #000000;
   display: none;
}

.layerpop {
   display: none;
   z-index: 1000;
   border: 2px solid #ccc;
   background: #fff;
   cursor: move;
}

.layerpop_area .title {
   padding: 10px 10px 10px 10px;
   border: 0px solid #aaaaaa;
   background: #f1f1f1;
   color: #3eb0ce;
   font-size: 1.3em;
   font-weight: bold;
   line-height: 24px;
}

.layerpop_area .layerpop_close {
   width: 25px;
   height: 25px;
   display: block;
   position: absolute;
   top: 10px;
   right: 10px;
   background: transparent url('btn_exit_off.png') no-repeat;
}

.layerpop_area .layerpop_close:hover {
   background: transparent url('btn_exit_on.png') no-repeat;
   cursor: pointer;
}

.layerpop_area .content {
   width: 96%;
   margin: 2%;
   color: #828282;
}

.hiddenField {
   display: none;
}

#pop {
   padding: 5px;
   width: 250px;
   height: 35px;
   background: #ccccff;
   color: #ff3300;
   position: absolute;
   top: 100px;
   left: 500px;
   text-align: center;
   border: 1px solid #000;
}

#pop2 {
   padding: 3px;
   width: 250px;
   height: 35px;
   background: #ccccff;
   color: #ff3300;
   position: absolute;
   top: 100px;
   left: 500px;
   text-align: center;
   border: 1px solid #000;
}
#pop3 {
   padding: 3px;
   width: 250px;
   height: 35px;
   background: #ccccff;
   color: #ff3300;
   position: absolute;
   top: 100px;
   left: 500px;
   text-align: center;
   border: 1px solid #000;
}