@charset "UTF-8";


.frame {
   width: 980px; 
   height: 520px;
   background-color: #b8b8b8;
   
   opacity: 0.9;
   border-radius: 10px;
   position: absolute;
   top: 230px;
   left: 16.4%;
}
.rightbox{
   background-color: white;
   position: absolute;
   border-radius: 10px;
   opacity: 0.9;
   vertical-align: middle;
}
.seatinfo{
	width:650px;
	height:20px;
	margin-left:450px;
	margin-top:15px;
	font-weight: bold; /* 폰트를 굵게 설정 */
   font-family: "Trebuchet MS", Dotum; /* 기본 폰트를 영어/한글 순서대로 설정 */
   color: #252525;
}
.whitebox {
   background-color: white;
   position: absolute;
   border-radius: 10px;
   opacity: 0.8;
   margin-right: 10px;
   margin-top: 10px;
   vertical-align: middle;
   display: inline-block;
   font-weight: bold; /* 폰트를 굵게 설정 */
   font-family: "Trebuchet MS", Dotum; /* 기본 폰트를 영어/한글 순서대로 설정 */
   color: #252525;
}

#text1 {
   color: #0A122A;
   font-family: "바탕체";
   margin-left: 10px;
}

.seatStyle1 {
   background-color: skyblue;
   height: 100px;
   width: 20px;
   position: relative;
}

html { 
   background: url(img/bgimg.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#topMenu {
	margin:0 auto;
     height: 40px;
     width: 1010px; 
}

#topMenu ul { /* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */ 
  list-style-type: none; /* 메인 메뉴 안의 ul 내부의 목록 표시를 없애줌 */
  margin-left: 10px;
  margin-right: 0px; /* 메인 메뉴 안의 ul의 margin을 없앰 */ 
  padding: 0px; /* 메인 메뉴 안의 ul의 padding을 없앰 */ 
	display:inline-block;
} 
#topMenu ul li { /* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */ 
  color:white; /* 글씨 색을 흰색으로 설정 */ 
  background-color: #afafaf; /* 배경 색을 RGB(2D2D2D)로 설정 */
  float: left; /* 왼쪽으로 나열되도록 설정 */ 
  line-height: 40px; /* 텍스트 한 줄의 높이를 30px로 설정 */ 
  vertical-align: middle; /* 세로 정렬을 가운데로 설정 */ 
  text-align: center; /* 텍스트를 가운데로 정렬 */ 
  position: relative; /* 해당 li 태그 내부의 top/left 포지션 초기화 */ 

} 
.menuLink { /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */ 
  text-decoration:none; /* a 태그의 꾸밈 효과 제거 */ 
  display: block; /* a 태그의 클릭 범위를 넓힘 */ 
  width: 241px; /* 기본 넓이를 150px로 설정 */ 
  font-size: 13px; /* 폰트 사이즈를 12px로 설정 */ 
  font-weight: bold; /* 폰트를 굵게 설정 */ 
  font-family: "Trebuchet MS", Dotum; /* 기본 폰트를 영어/한글 순서대로 설정 */ 
  color: #252525; 
} 

.topMenuLi:hover .menuLink { /* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */ 
  color: white; /* 글씨 색 white */ 
  background-color: #4b5ef2; /* 배경색을 보라색으로 설정 */ 
  opacity:0.7;
} 

#board{
  width: 1010px;
  height: 2000px;
  margin-top: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  left: 215px;
  top: 250px;
}
#boardtitle{
  width: 990px;
  background-color: #000000;
  border-radius: 10px;
  opacity: 0.8;
  margin-top: 10px
}
#copyright{
  float: right;
  color: blue;
}

#subboard{
   font-size: 13px; /* 폰트 사이즈를 12px로 설정 */ 
  font-weight: bold; /* 폰트를 굵게 설정 */ 
  font-family: "Trebuchet MS", Dotum; /* 기본 폰트를 영어/한글 순서대로 설정 */ 
  color: #252525; 
}
.myloginarea { 
       clear:both;
       position: absolute;
       width: 250;
       height: 30px;
       float: right;
       top: 10px;
       right: 10px;
       overflow: hidden;
       font-family:Arial;
       font-size:12px;
       text-align:right;
}