@charset "UTF-8";
/* The container */
.container {
  /* display: block; */ /* 세로로 정렬 */
  position: relative;
  padding-left: 35px;/* 
  margin-bottom: 12px; */
  cursor: pointer;
}

/* default radio button 안보이게  */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* 내가 만드는 라디오 버튼 : 하늘  */
.checkmark {
  position: absolute;
  top: 0;
  left: 0; 
  height: 25px;
  width: 25px;
  background: #29bbf3;
 /*  border-radius: 50%; */
}

/* 버튼 위에 커서 가져가면 나오는 색깔 : 핑꾸   */
.container:hover input ~ .checkmark {
  background: #f64076;
}

/* 선택되면 나오는 색깔 : 핑꾸   */
.container input:checked ~ .checkmark {
  background: #f64076;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;/* 
	border-radius: 50%; */
	background: white;
}